body {
    font-family: sans-serif;
    background-color: teal;
    color: rgba(245, 245, 245, 0.616);
    padding:1%;
  }
#welcome{
  font-size: 80px;
  font-weight: bold;
  padding-bottom:5%;
  padding-top:1%;
}
.left-box{
  float: left;
}

.right-box{
  float:right;
}

#weather{
  font-size:20px;
  font-weight: bold;
}