*{
  box-sizing: border-box;
}
body {
  color: rgba(245, 245, 245, 0.616);
  padding:0px;
  margin: 0px;
}
header{
  background-color: #008489;
  height: 66px;
}
header *{
  color:white;
}
header .logo{
  float: left;
  height: inherit;
  margin-left: 2em;
}
header .logo-text{
  margin :9px;
}

header .logo-text span{
  color: #2be2e9;

}
header ul{
  float:right;
  margin: 0px;
  padding: 0px;
  list-style: none;
  border: 1px black solid;
}
header ul li{
  float: left;
}
header ul li a{
  display: block;
  padding:21px;
  font-size: 1.1em;
}

header .menu-toggle{
  display: none;
}




footer{
  width: 100%;
  height: 10px;
  padding-top: 1%;
  background-color: rgba(0, 128, 128, 0.212);
  color: black;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

  a {
  text-decoration: none;
  outline: none;
}
.hidden{
  display: none;
}

.left-box{
  float: left;
}

.right-box{
  float:right;
  text-align: right;
}

#quote{
  font-size:20px;
  font-weight: bold;
}

#author{
  color:black;
}

#img{
  display: flex;
  height: 50vh;
  width: 50vw;
}
