*{
  box-sizing: border-box;
}
body {
  color: rgba(245, 245, 245, 0.616);
  padding:0px;
  margin: 0px;
}
header{
  background-color: #008489;
  height: 66px;
}
header *{
  color:white;
}
header .logo{
  float: left;
  height: inherit;
  margin-left: 2em;
}
header .logo-text{
  margin :9px;
}

header .logo-text span{
  color: #2be2e9;

}
header ul{
  float:right;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
header ul li{
  float: left;
  position: relative;
}
header ul li ul{
  position:absolute;
  top:66px;
  right:0px;
  width: 150px;
  display: none;
}
header ul li:hover ul{
  display: block;
}
header ul li ul li{
  width: 100%;
  text-align: center;
}
header ul li ul li a{
  padding : 10px;
  background-color: white;
  color:#444
}
header ul li ul li a.logout{
  color:red
}
header ul li ul li a:hover{
  background-color: #d5d6d6;
}
header ul li a{
  display: block;
  padding:21px;
  font-size: 1.1em;
  text-decoration: none;
}
header ul li a:hover{
  background-color: #023b3d;
  transition: 0.5s;
}

header .menu-toggle{
  display: none;
}




footer{
  width: 100%;
  height: 10px;
  padding-top: 1%;
  background-color: rgba(0, 128, 128, 0.212);
  color: black;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.hidden{
  display: none;
}

.left-box{
  float: left;
}

.right-box{
  float:right;
  text-align: right;
}

#quote{
  font-size:20px;
  font-weight: bold;
}

#author{
  color:black;
}

#img{
  display: flex;
  height: 50vh;
  width: 50vw;
}
